<div class="col">
  <div class="row">
    <% posts.each do |post| %>
      <div class="d-flex flex-row pt-3">
        <div class="card" style="width: 18rem; background: rgba(0, 0, 0, 0)">
          <%= link_to admin_post_path(post) do %>
            <%= image_tag post.get_post_image, style: "border-radius: 15%; width: 200px; height: 200px; object-fit:cover;", class: "hover-zoom mb-3 card-img-top" %>
          <% end %>
          <div class="card-body">
            <h5 class="card-title">
              <%= link_to admin_user_path(post.user), style: " text-decoration: none;color: #0dcaf0" do %>
                <%= image_tag post.user.get_profile_image, class: "rounded-circle mx-3", size:'30x30' %>
                <%= post.user.name %>
              <% end %>
            </h5>
            <p class="card-text">
              <p><%= post.title %></p>
              <p>
              <% post.tags.each do |tag| %>
                <%= link_to admin_post_tag_posts_path(tag), style: "color: #0dcaf0; text-decoration: none;" do %>
                  <i class="fa-solid fa-hashtag" style="color: #74C0FC;"></i><%= tag.name %>
                <% end %>
              <% end %>
              </p>
              <p>コメント（<%= post.comments.count %>）</p>
              <p>いいね（<%= post.favorites.count %>）</p>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="pagination row ml-5 pl-5 p-2 mt-3" style=""><%= paginate posts %></div>
</div>
