<div class="container-fluid">
  <div class="row">

    <div class="col-md-2 offset-md-1" style="background: blue">
      <%= render 'admin/users/sidebar' %>
    </div>

    <div class="col-md-7 offset-md-1" style="background: grey">
      <div class='row'>
        <div class="col-md-2 offset-md-3">
          <%= link_to admin_user_path(@user) do %>
            <%= image_tag @user.get_profile_image, class: "rounded-circle", size:'100x100' %>
          <% end %>
        </div>
        <div class="col-md-3">
          <%= @user.name %>
        </div>
      </div>
      <div class='row'>
        <div class="col-md-3 offset-md-3">
          <%= image_tag @post.get_post_image, style: "border-radius: 15%; width: 200px; height: 200px; object-fit:cover;" %>
        </div>
        <div class="col-md-3">
          <div class='row'>
            <%= @post.title %>
          </div>
          <div class='row'>
            <%= @post.content %>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>