<div class="row">
  <div class="col-md-2 offset-md-1">
    <%= render 'public/users/sidebar' %>
  </div>
  <div class="col-md-8">
    <div class="row">
      <h2>発見タグ</h2>
    </div>
    <div class='row mt-3 pl-5'>
      <% @tags.each do |tag| %>
        <div class='p-1'>
          <%= link_to post_tag_posts_path(tag), style: "color: #0dcaf0; text-decoration: none; font-size: 22px" do %>
            <span class="badge badge-pill badge-secondary"><i class="fa-solid fa-hashtag" style="color: #74C0FC;"></i><%= tag.name %></span>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="row">
      <h2 class="my-3 mb-2">発見投稿</h2>
    </div>
    <div class="row">
      <div class='col-md-4'>
        <%= link_to @post do %>
          <%= image_tag @post.get_post_image, style: "border-radius: 15%; width: 500px; height: 500px; object-fit:cover;", class: "hover-zoom mb-3 card-img-top" %>
        <% end %>
      </div>
      <div class='col-md-5 p-3 ml-3'>
        <div class="row">
          <%= link_to user_path(@user), style: "color: #0dcaf0; text-decoration: none;" do %>
            <%= image_tag @user.get_profile_image, class: "rounded-circle", size:'80x80' %>
            <%= @user.name %>
          <% end %>
        </div>
        <div class="row pl-5 my-4">
          <%= @post.title %>
        </div>
        <div class="row pl-5 mb-4">
          <%= @post.content %>
        </div>
        <div class='row pl-5 mb-4'>
          <% @post.tags.each do |tag| %>
            <div class='p-1'>
              <%= link_to post_tag_posts_path(tag), style: "color: #0dcaf0; text-decoration: none;" do %>
                <i class="fa-solid fa-hashtag" style="color: #74C0FC;"></i><%= tag.name %>
              <% end %>
            </div>
          <% end %>
        </div>
        <div class='row pl-5'>
          <p><%= render "public/favorites/btn", post: @post %></p>
          <p class="ml-3">コメント数（<%= @post.comments.count %>）</p>
        </div>
      </div>
    </div>
  </div>





</div>