<div class="container-fluid">
  <div class="row">

    <div class="col-md-2 offset-md-1" style="background: blue">
      <%= render 'sidebar' %>
    </div>

    <div class="col-md-7 offset-md-1" style="background: grey">
      <div class='row'>
        <div class='col-md-2'>
          <%= image_tag @user.get_profile_image, class: "rounded-circle", size:'100x100' %>
        </div>
        <div class='col-md-6'>
          <%= @user.name %></br>
          <%= @user.introduction %>
        </div>
      </div>
      <div class='row-md-2'>
        <%= form_with model: @user, url: admin_user_path(@user) do |f| %>
          <p>ユーザーステータス設定</p>
          <p><%= f.radio_button :user_status, "true" %> 使用可能 <%= f.radio_button :user_status, "false" %> 使用禁止 </p>
          <%= f.submit "保存",class: 'btn btn-lg btn-success' %>
        <% end %>
      </div>
      <div class='row justify-content-center'>
        <div class="col-md-5">
          <h2>最近投稿</h2>
          <% if @latest_post.blank? %>
            <div class="row">
              <p>最近の投稿がございません</p>
            </div>
          <% else %>
            <%= link_to admin_post_path(@latest_post) do %>
              <%= image_tag @latest_post.get_post_image, style: "border-radius: 15%; width: 300px; height: 300px; object-fit:cover;" %>
            <% end %>
            <div class="row">
              <%= @latest_post.title %></br>
              <%= @latest_post.content %>
            </div>
            <div class="row">
              <%= link_to "投稿一覧", admin_user_user_posts_path(@user), class: "btn btn-outline-secondary btn-block" %>
            </div>
          <% end %>
        </div>
        <div class="col-md-5">
          <h2>最近いいねをした投稿</h2>
          <div></div>
        </div>
      </div>
    </div>

  </div>
</div>