<div class="container-fluid" style="color: white">
  <div class="row">

    <div class="col-md-2 offset-md-1">
      <%= render 'sidebar' %>
    </div>

    <div class="col-md-8">

      <div class='row'>
        <div class='col-md-2'>
          <%= image_tag @user.get_profile_image, class: "rounded-circle", style: "border-radius: 50%; width: 200px; height: 200px; object-fit:cover;" %>
        </div>
        <div class='col-md-3 pl-3' style="font-size: 18px">
          <%= @user.name %></br>
          <%= @user.introduction %>
        </div>
        <div class='col offset-md-1 text-center'>
          <p>フォロー数</p>
          <p><%= link_to @user.followings.count, admin_user_followings_path(@user), style: "text-decoration: none; color: #0dcaf0" %></p>
          <p>フォロワー数</p>
          <p><%= link_to @user.followers.count, admin_user_followers_path(@user), style: "text-decoration: none; color: #0dcaf0" %></p>
        </div>
        <div class='col offset-md-1 text-center' style="color: #FF4F50">
          <%= form_with model: @user, url: admin_user_path(@user) do |f| %>
            <p>ユーザーステータス設定：</p>
            <p><%= f.radio_button :user_status, "true" %> 使用可能 <%= f.radio_button :user_status, "false" %> 使用禁止 </p>
            <%= f.submit "保存",class: 'btn btn-outline-danger', data: { confirm: 'この操作では該当ユーザーの権限が変更されます。よろしいですか？' } %>
          <% end %>
        </div>
      </div>
      <ul class="nav nav-pills nav-fill mt-5" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active btn btn-info" id="post-tab" style="font-size: 18px" data-toggle="tab" data-target="#post" type="button" role="tab" aria-controls="post" aria-selected="true">ユーザー最近投稿</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link btn btn-info" id="user-tab" style="font-size: 18px" data-toggle="tab" data-target="#user" type="button" role="tab" aria-controls="user" aria-selected="false">ユーザー最近いいねをした投稿</button>
        </li>
      </ul>

      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="post" role="tabpanel" aria-labelledby="post-tab">
            <% if @latest_post.blank? %>
              <div class="row p-5">
                <p class="col-md-8 mt-5">ユーザー最近の投稿がございません</p>
                <p class="col offset-md-1 mt-5"></p>
              </div>
            <% else %>
              <div class="row">
                <div class="col-md-4">
                  <%= link_to admin_post_path(@latest_post) do %>
                    <%= image_tag @latest_post.get_post_image, class: "hover-zoom my-4", style: "border-radius: 15%; width: 400px; height: 400px; object-fit:cover;" %>
                  <% end %>
                </div>
                <div class="col-md-6 m-5">
                  <div class="row m-3">
                    <%= @latest_post.title %>
                  </div>
                  <div class="row m-3">
                    <%= @latest_post.content %>
                  </div>
                  <div class="row m-3">
                    <% @latest_post.tags.each do |tag| %>
                      <div class='p-1'>
                        <%= link_to admin_post_tag_posts_path(tag), style: "color: #0dcaf0; text-decoration: none;" do %>
                          <i class="fa-solid fa-hashtag" style="color: #74C0FC;"></i><%= tag.name %>
                        <% end %>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="row pl-5">
                <%= link_to "ユーザー投稿一覧", admin_user_user_posts_path(@user), class: "btn btn-outline-info m-2", style: "width: 25%" %>
              </div>
            <% end %>
        </div>
        <div class="tab-pane fade" id="user" role="tabpanel" aria-labelledby="user-tab">
          <% if @latest_favorite_post.blank? %>
            <div class="row p-5">
              <p class="col-md-8 mt-5">ユーザー最近いいねをした投稿がございません</p>
              <p class="col offset-md-1 mt-5"></p>
            </div>
          <% else %>
            <div class="row">
              <div class="col-md-4">
                <%= link_to admin_post_path(@latest_favorite_post) do %>
                  <%= image_tag @latest_favorite_post.get_post_image, class: "hover-zoom my-4", style: "border-radius: 15%; width: 400px; height: 400px; object-fit:cover;" %>
                <% end %>
              </div>
              <div class="col-md-6 m-5">
                <div class="row">
                  <div class="col-2">
                    <%= link_to admin_user_path(@latest_favorite_post.user) do %>
                      <%= image_tag @latest_favorite_post.user.get_profile_image, class: "rounded-circle", style: "border-radius: 50%; width: 80px; height: 80px; object-fit:cover;" %>
                    <% end %>
                  </div>
                  <div class="col-2 m-4">
                    <%= link_to admin_user_path(@latest_favorite_post.user) do %>
                      <p style="text-decoration: none; color: #0dcaf0"><%= @latest_favorite_post.user.name %></p>
                    <% end %>
                  </div>
                </div>
                <div class="row m-3">
                  <%= @latest_favorite_post.title %>
                </div>
                <div class="row m-3">
                  <%= @latest_favorite_post.content %>
                </div>
                <div class="row m-3">
                  <% @latest_favorite_post.tags.each do |tag| %>
                    <div class='p-1'>
                      <%= link_to admin_post_tag_posts_path(tag), style: "color: #0dcaf0; text-decoration: none;" do %>
                        <i class="fa-solid fa-hashtag" style="color: #74C0FC;"></i><%= tag.name %>
                      <% end %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="row pl-5">
              <%= link_to "ユーザー最近いいねをした投稿", admin_user_user_favorite_posts_path(@user), class: "btn btn-outline-info m-2", style: "width: 25%" %>
            </div>
          <% end %>
        </div>
      </div>

    </div>
  </div>

</div>