<table class='table table-inverse' style="color: white; font-size: 18px">
  <tbody>
    <% users.each do |user| %>
      <tr>
        <td>
          <%= link_to user do %>
            <%= image_tag user.get_profile_image, class: "rounded-circle", size:'50x50' %>
          <% end %>
        </td>
        <td>
          <%= link_to user, style: "color: #0dcaf0" do %>
            <%= user.name %>
          <% end %>
        </td>
        <td><%= user.introduction %></td>
      </tr>
    <% end %>
  </tbody>
</table>