<table class='table table-inverse' style="color: white; font-size: 18px">
  <thead>
    <tr>
      <th>アイコン</th>
      <th>ユーザー名</th>
      <th>自己紹介</th>
      <th>フォローとフォロワー</th>
    </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>
      <tr>
        <td>
          <%= link_to user do %>
            <%= image_tag user.get_profile_image, class: "rounded-circle", size:'50x50' %>
          <% end %>
        </td>
        <td>
          <%= link_to user, style: "color: #0dcaf0" do %>
            <%= user.name %>
          <% end %>
        </td>
        <td><%= user.introduction %></td>
        <td>
          フォロー <%= link_to user.followings.count, user_followings_path(user), style: "text-decoration: none; color: #0dcaf0" %><br>
          フォロワー <%= link_to user.followers.count, user_followers_path(user), style: "text-decoration: none; color: #0dcaf0" %>
        </td>
      </tr>
    <% end %>

  </tbody>
</table>
<div class="pagination ml-5 pl-5 p-2" style=""><%= paginate users %></div>