<table class="table table-borderless">
  <tr><th><%= link_to "発見", root_path, class: "sidebar_link" %></th></tr>
  <tr><th><%= link_to "投稿", new_post_path, class: "sidebar_link" %></th></tr>
  <tr><th><%= link_to "通知", root_path, class: "sidebar_link" %></th></tr>
  <tr><th><%= link_to "設定", settings_path, class: "sidebar_link" %></th></tr>
  <tr><th><%= link_to "ログアウト", destroy_user_session_path, class: "sidebar_link", method: :delete %></th></tr>
</table>