<div class="container-fluid text-center" style="color: white">
  <div class="row">

    <div class="col-md-2 offset-md-1">
      <%= render 'public/users/sidebar' %>
    </div>

    <div class="col-md-8">
      <div class="row">
        <h2 class="col-md-5 p-4">設定</h2>
      </div>
      <div class="row mb-3">
        <h4 class="mr-5">ユーザー情報設定</h4>
        <%= link_to "こちらで設定します",edit_user_path(current_user), style: "text-decoration: none; color: #0dcaf0" %>
      </div>
      <div class="row">
        <h4 class="mr-5">ユーザープロフィール設定</h4>
        <%= form_with model: @user, url: user_path(@user) do |f| %>
          <%= f.radio_button :profile_is_released, true %> 公開
          <%= f.radio_button :profile_is_released, false %> 非公開
          <%= f.submit "設定を保存",class: 'btn btn-outline-info ml-5' %>
        <% end %>
      </div>
    </div>

  </div>
</div>