<header>
  <div class="container-fluid text-center" style="color: white">
    <div class="row justify-content-center m-5" style="height: 70px">

      <% if user_signed_in? %>
        <div class="col-md-1">
          <%= link_to root_path do %>
            <%= image_tag "logo.png", size: "90x90" %>
          <% end %>
        </div>
        <div class="search_form col-md-4 offset-md-3">
          <%= render 'layouts/search_form' %>
        </div>
        <div class="col-md-1 offset-md-3">
          <%= link_to user_path(current_user.id) do %>
            <%= image_tag current_user.get_profile_image, class: "rounded-circle mt-2", size:'50x50' %>
          <% end %>
        </div>
      <% elsif admin_signed_in? %>
        <div class="col-md-1">
          <%= link_to root_path do %>
            <%= image_tag "logo.png", size: "90x90" %>
          <% end %>
        </div>
        <div class="search_form col-md-4 offset-md-3">
          <%= render 'layouts/search_form' %>
        </div>
        <div class="col-md-1 offset-md-3">
          <p style="color: #0dcaf0; font-size: 24px">管理者モード</p>
        </div>
      <% else %>
        <div class="col-md-1">
          <%= link_to root_path do %>
            <%= image_tag "logo.png", size: "90x90" %>
          <% end %>
        </div>
        <div class="col-md-11"></div>
      <% end %>

    </div>
  </div>
</header>