<!DOCTYPE html>
<html>
  <head>
    <title>ShareSphere</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/de37796b15.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="background: linear-gradient(to left, #000033, #000000, #000033);">
    <%= render 'layouts/header' %>
    <%= render 'layouts/notice' %>
    <div>
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
